---
import type { SupportedLocale } from '@/types';
import { I18N_DEFAULT_LOCALE } from '@/constants/config';

import DefaultLayout from '../default';

import { resolveLocale } from './helper';
import HeroSection from './HeroSection.astro';
import Section from './Section.astro';
import HighlightList from './HighlightList';
import StrategicProjectList from './StrategicProjectList';
import FeaturedSeriesList from './FeaturedSeriesList.astro';
import PostList from './PostList.astro';

const locale = resolveLocale((Astro.currentLocale || I18N_DEFAULT_LOCALE) as SupportedLocale);
---

<DefaultLayout>
  <article class="pb-14">
    <HeroSection locale={locale} />
    <div class="max-w-screen-xl mx-auto mt-[200px]">
      <Section title={locale.highlights}>
        <HighlightList locale={locale} client:visible />
      </Section>
      <Section title="战略项目" class="mt-24">
        <StrategicProjectList client:visible />
      </Section>
      <Section title="特色活动" class="mt-24">
        <FeaturedSeriesList />
      </Section>
      <Section title="社区文章" class="mt-24">
        <PostList />
      </Section>
    </div>
  </article>
</DefaultLayout>
